<html>
  <body>
    
  <div id="Intro"> 
    <h1>Nate Is The Genius Behind Posty. Literally <i>No One</i> Else.</h1>
    
  </div>

  <div id="Steps">
    
  </div>

  <div id="Contact">
    <address>
      Wunder_Awesome - developer in residence<br/>
      mywebsiteWILLbelegit.com<br/>
      8014487240<br/>
    </address>
  </div>
  
  </body>
</html>