<html>
  <body>
    <head>     
    </head>

  <div id="Intro"> 
    <em>Welcome To The Last Notes App You Will Ever Need</em>
    <h1>Posty</h1>
  </div>

  <div id="Steps">
    <p>Follow These Simple Steps:</p>
    <ol>
      <li>Hire Me</li>
      <li>Wait While I write You A Custom Notes App</li>
      <li>Be Amazed</li>
      <li>Throw Away <i>ALL</i> Your Pens & Paper</li>
    </ol>
  </div>

  <div id="Contact">
    <address>
      Wunder_Awesome - developer in residence<br/>
      mywebsiteWILLbelegit.com<br/>
      8014487240<br/>
    </address>
  </div>
  
  </body>
</html>